# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
- Table of Data Science tools
- Some of the commonly used libraries used by Data Scientists
- List popular languages for Data Science

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

### Some of the commonly used libraries used by Data Scientists include:
1. %matplotlib
2. numpy
3. pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio          |
| Apache Zeppelin  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
### This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Mustafa